<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{page.title}}</title>
	<meta name="keywords" content="{{settings.name2}}, {{settings.name}}, uottawa">
	<meta name="description" content="{{settings.name}} ({{settings.name2}}) Foundation is a charitable club based at the University of Ottawa. The foundation seeks for unused medical equipment in the community and redistributes it to people who are unable to purchase new equipment.">
	<meta property="og:title" content="{{settings.name}}">
	<meta property="og:image" content="/resources/img/logo.png">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="/resources/favicon.ico">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
	<div class="demo">
	<div class="alert-container" style="display: none;">
    	<div class="alert-text">
        	<p><span class="i-icon">&#9432;</span><a href="/alert"><span class="hover-text">{{ settings.AlertText }}</span>&#10095;</a></p>
    	</div>
	</div>
	{{ content | safe }}
</div>
<footer>
	{% for sponsor in settings.sponsor %}
        <div class="sponsor">
            <a href="{{ sponsor.link }}">
                <img src="{{ sponsor.image }}">
            </a>
            <p>{{ sponsor.message }}</p>
        </div>
    {% endfor %}
    <div class="onyx">
        <a href="https://www.onyxonline.ca/">Ottawa Web Design | Created by ONYX Online</a>
    </div>
</footer>

</body>
</html>