<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{settings.name}}</title>
    <meta name="keywords" content="MEC, medical equipment, medical equipment collection, uottawa">
	<meta name="description" content="The {{settings.name}} ({{settings.name2}}) Foundation is a charitable club based at the University of Ottawa. The foundation seeks for unused medical equipment in the community and redistributes it to people who are unable to purchase new equipment.">
	<meta property="og:title" content="{{settings.name}}">
	<meta property="og:image" content="/resources/img/logo.png">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap" rel="stylesheet">
	<link rel="icon" href="/resources/favicon.ico">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body class="home">
    <div class="demo">
	<div class="alert-container" style="display:{{ settings.AlertBanner }}">
		<div class="alert-text">
			<p><span class="i-icon">&#9432;</span><a href="/alert"><span class="hover-text">{{ settings.AlertText }}</span>&#10095;</a></p>
		</div>
	</div>


<div class="banner home">
    <div class="title-container">
        <div class="title-text">
            {% for titlelist in titlelist%}
                <h1>{{titlelist.word}}</h1>
            {% endfor %}
        </div>
    </div>

    <div class="donate-button-container">
        <img src="{{ settings.logo }}">
        <a href="donate">
                <h3>{{ DonateButton }}</h3>
        </a>
        <div class="nav">
            <a href="/about">
                <h4>ABOUT</h4>
            </a>
            <a href="/contact">
                <h4>CONTACT</h4>
            </a>
            <br>
            <a href="{{ facebook }}" class="fa fa-facebook" style="display:{{ facebookDisplay }}"></a>
            <a href="{{ instagram }}" class="fa fa-instagram" style="display:{{ instagramDisplay }}"></a>
            <a href="{{ twitter }}" class="fa fa-twitter" style="display:{{ twitterDisplay }}"></a>
        </div>
    </div>
</div>


<div class="media">
    <div class="video-button" id="myButton" type="button">
        <span class="right-pointing-triangle">&nbsp;</span>
    </div>
    <div class="video-container">
        <video id="myVideo" controls>
            <source src="{{ video }}" type="video/mp4">
            {{ video1-description }}
        </video>
    </div>
</div>

<script type="text/javascript" src="/resources/js/video-play.js"></script>
</div>

<footer>
    {% for sponsor in settings.sponsor %}
        <div class="sponsor">
            <a href="{{ sponsor.link }}">
                <img src="{{ sponsor.image }}">
            </a>
            <p>{{ sponsor.message }}</p>
        </div>
    {% endfor %}
    <div class="onyx">
        <a href="https://www.onyxonline.ca/">Ottawa Web Design | Created by ONYX Online</a>
    </div>
</footer>

</body>
</html>