---
layout: "base.njk"
---

<div class="banner pages">
    <div class="title-container">
        <div class="title-text">
            <a href="/">
                <h1 class="back-title">&#10094;</h1>
                <img src="{{settings.logo}}">
                <h1>{{ settings.name2 }}</h1>
            </a>
        </div>
    </div>
</div>
<div class="page-title">
    <h2>{{title}}</h2>
</div>

<div class="page-content">
    {{ content | safe }}
</div>