$primary-color: #D24446;


html {
    height: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}
a {
    text-decoration: none;
}

/* ALERT CONTAINER */
.alert-container {
    background-color: #242423;
    width: 100%;
    height: auto;
}
.alert-text {
    padding: 25px 50px;
}
.alert-text .i-icon {
    color: #4589ff;
    margin-right: 20px;
}
.alert-text p {
    margin: 0;
}
.alert-text a {
    color: white;
}
.alert-text a .hover-text {
    margin: 10px;
    transition-duration: 0.5s;
}
.alert-text a .hover-text:hover {
    text-decoration: underline;
    margin-right: 20px;
}

/* BANNER */
.home {
    background-color: $primary-color;
}
.title-container, .donate-button-container {
    width: calc(49% - 30px);
    display: inline-block
}
.title-container {
    background-color: $primary-color;
    padding-left: 20px;
    padding-right: 20px;
    border-right: solid 20px black;
}
.title-text {
    margin: 35px 0;
}
.title-text h1 {
    font-size: 7vw;
    color: black;
    margin: 0;
}
.home .title-text h1::first-letter {
    color: white;
    width: 35px;
    font-family: 'Roboto Mono', monospace;
}
.banner {
    background-color: white;
}
.donate-button-container {
    text-align: center;
    vertical-align: top;
    height: 100%;
    margin-top: 100px;
}
.donate-button-container img {
    width: 100px;
    height: auto;
    display: block;
    margin: auto;
    margin-bottom: 40px;
}
.donate-button-container h3 {
    display: inline-block;
    border: solid 2px $primary-color;
    border-radius: 45px;
    padding: 20px;
    font-size: 4vw;
    margin: 0;
    color: $primary-color;
}
.donate-button-container a {
    color: black;
}
.donate-button-container h3:hover {
    background-color: $primary-color;
    color: white;

}

.donate-button-container .nav a{
    display: inline-block;
    margin: 20px;
    color: black;
}
.donate-button-container .nav h4 {
    font-size: 30px;
}
.donate-button-container .nav a:hover{
    color: $primary-color;
}
.fa {
    padding: 0 25px 25px 25px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
  }
  .donate-button-container .nav .fa {
    margin: 0;
}

/* VIDEO */
.media {
    background-color: black;
    text-align: center;
    position: relative;
}
.video-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    width: 115px;
    cursor: pointer;
}
.right-pointing-triangle {
    border: solid 4px white;
    border-radius: 50%;
    font-size: 100px;
    width: 100px;
    height:100px;
}
.right-pointing-triangle::after {
    content: "\25B6 \FE0E";
  }
video {
    width: 100%;
    height: auto;
    margin: 20px 0;
    filter: brightness(0.4);
}




/* FOOTER */
footer {
    background-color: black;
    bottom: 0;
    width: 100%;
    text-align: center;
}
footer a {
    color: white;
}
footer .sponsor {
    margin: 20px;
    display: inline-block;
}
footer .sponsor img {
    height: 60px;
    width: auto;
}
footer .sponsor p {
    color: white;
    margin: 0;
}
footer .onyx a {
    font-weight: 600;
}

/* PAGES */
.pages .title-container {
    width: 100%;
    border-right: 0;
    padding:0
}
.pages .title-text {
    margin:10px;
}
.pages .title-text img {
    display: inline;
    width: 60px;
    height: auto;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    vertical-align: middle;
}
.pages .title-text h1 {
    display: inline;
    font-size: 75px;
    margin-left: 20px;
    color: white;
    vertical-align: middle;
}
.pages .title-text .back-title {
    font-size: 60px;
    margin-right: 15px;
}
.pages .title-text:hover {
    margin-left:40px;
    transition-duration: 1s;
    transition-property: margin;
}
.page-title h2 {
    color: $primary-color;
    text-align: center;
    font-size: 35px;
}
.page-content {
    max-width: 900px;
    margin: auto;
    text-align: center;
    padding: 15px;
    border: solid 50px $primary-color;
    margin-bottom: 30px;
}
.page-content h2 {
    color: $primary-color;
}
.page-content ul {
    list-style: outside;
    padding: 0;
    display: inline-block;
    margin: auto;
    text-align: initial;
    margin-left: 1em;
}
.page-content ul li::marker {
    color: $primary-color;
}
.page-content a {
    color:$primary-color;
    text-decoration: underline;
}
.page-content img {
    max-width: 100%;
}
.donation-button-container {
    margin: 20px 0;
}
.donation-button {
    color: $primary-color;
    background-color: white;
    border: solid 2px $primary-color;
    border-radius: 45px;
    font-size: 20px;
    padding: 5px 10px;
}
.donation-button-container a {
    text-decoration: none;
}

.donation-button:hover {
    color: white;
    background-color: $primary-color;
}

/* DONATE */
.donate-container {
    width: 100%;
    height: 50%;
}
.donate-equipment, .donate-money {
    display: inline-block;
    width: 50%;
    text-align: center;
    vertical-align: middle;
    color: white;
    filter: grayscale(100%);
    transition-duration: 1s;
    float: left;
    height: 60vh;
}
.donate-equipment:hover, .donate-money:hover {
    filter:grayscale(0);
}
.donate-equipment {
    background-color: pink;
}
.donate-money {
    background-color: lightblue;
}
.donate-container h3 {
    margin-top: 50%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (max-width: 1000px) {
    .donate-button-container {
        margin-top: 30px;
    }
    .donate-button-container .nav h4 {
        font-size: 20px;
    }
    .donate-button-container img {
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 700px) {
    .title-container, .donate-button-container {
        width: 100%;
        border-right:0;
    }
    .title-container {
        padding: 0;
    }
    .home .title-container .title-text h1 {
        font-size: 13vw;
    }
    .title-text {
        margin-left:20px;
    }
    .donate-button-container h3 {
        font-size: 26px;
    }
    .back {
        position: relative;
    }
    .donate-equipment, .donate-money {
        filter: grayscale(0);
    }
}
@media only screen and (max-width: 500px) {
    .page-content{
        border-width: 30px;
    }
    .pages .title-text img {
        width: 45px;
    }
    .pages .title-text h1 {
        font-size: 60px;
    }
    .pages .title-text .back-title {
        font-size: 50px;
    }
}
@media only screen and (min-width: 1200px) {
    .title-text h1 {
        font-size: 85px;
    }
    .donate-button-container h3 {
        font-size: 48px;
    }
}